
# ignore the settings folder and files for VSCode and PSS
.vscode/*
*.psproj
*TempPoint*

# Ignore staging info from Visual Studio
library/AzApiCall/.vs/*
library/AzApiCall/AzApiCall/bin/*
library/AzApiCall/AzApiCall/obj/*

# ignore PowerShell Studio MetaData
AzApiCall/AzApiCall.psproj
AzApiCall/AzApiCall.psproj.bak
AzApiCall/AzApiCall.psprojs
AzApiCall/AzApiCall.psproj

# ignore the TestResults
TestResults/*

# ignore the publishing Directory
publish/*